# 忽略臃肿的中间件文件夹
Middlewares/

# 嵌入式编译生成的文件（可执行文件、目标文件）
*.o
*.d
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.bak

# IDE 生成的工程缓存文件（Keil、STM32CubeIDE、IAR）
MDK-ARM/Build/
MDK-ARM/Listings/
MDK-ARM/Objects/
*.uvguix
*.uvoptx
*.uvprojx.user
Debug/
Release/
cmake-build-*/
.idea/
.vscode/
*.swp

# 系统自动生成的垃圾文件
.DS_Store
Thumbs.db